<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <meta charset="utf-8">
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
        margin-top: 8px;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
      .qty-input {
        width: 70px;
      }
      .price-each {
        color: #666;
        font-size: 0.9em;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Shopping List Check Off</h1>

      <div class="row">
        <!-- To Buy List -->
        <div class="col-md-6" ng-controller="ToBuyController as toBuy">
          <h2>To Buy:</h2>
          <ul class="list-unstyled">
            <li ng-repeat="item in toBuy.items">
              Buy
              <input type="number" class="qty-input" ng-model="item.quantity" min="0" aria-label="quantity for {{item.name}}">
              {{ item.name }}
              <span class="price-each">({{ item.pricePerItem | currency }}/ea)</span>
              <button class="btn btn-default btn-sm" ng-click="toBuy.buyItem($index)">
                <span class="glyphicon glyphicon-ok"></span> Bought
              </button>
            </li>
          </ul>
          <div class="emptyMessage" ng-if="toBuy.items.length === 0">Everything is bought!</div>
        </div>

        <!-- Already Bought List -->
        <div class="col-md-6" ng-controller="AlreadyBoughtController as bought">
          <h2>Already Bought:</h2>
          <ul class="list-unstyled">
            <li ng-repeat="item in bought.items">
              Bought {{ item.quantity }} {{ item.name }}
              for total price of {{ (item.quantity * item.pricePerItem) | tripleDollar }}
            </li>
          </ul>
          <div class="emptyMessage" ng-if="bought.items.length === 0">Nothing bought yet.</div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
